
  <!-- <div *ngIf="afAuth.user | async as user">

<li *ngFor="let newsletterItem of newsletterItems | async">  -->
    <!-- <a [routerLink]="['/image', img.id]">    
        <img src="assets/images/newsletter.jpg" 
       class="img" width="400" height="500" href="#" >    
       <img src="assets/images/newsletter.jpg" 
       class="img" width="400" height="500" href="#" >     -->
       <!-- <a href="#" download="{{newsletterItem.downloadURL}}"> Download Image </a> -->
   <!-- <img src="{{groceryItem.downloadURL}}"
       class="img" width="500" height="500">     -->
      
      
      <!-- <a href="{{groceryItem.downloadURL}}"  (click)="download()">Download</a> -->
       <!-- <input type="button" (click)="download()" value="Download Employee Data"/>
       <a [href]="groceryItem.downloadURL | async">{{ groceryItem.downloadURL | async }} </a>

     -->


          <!-- <a [routerLink]="['/image', img.id]">     -->
              <img src="assets/images/newsletter.jpg" 
             class="img" width="400" height="500" href="#" >    
             <button class="btn btn-outline-primary  btn-pill btn-xs" type="button" ><a href="#" download="assets/images/newsletter.jpg">  Download</a></button>
         <!-- <img src="{{groceryItem.downloadURL}}"
             class="img" width="500" height="500">     -->
            
             <img src="assets/images/lpnewspage2.jpg" 
             class="img" width="400" height="500" href="#" >    
             <button class="btn btn-outline-primary  btn-pill btn-xs" type="button" ><a href="#" download="assets/images/newsletter.jpg">  Download</a></button>
            <!-- <a href="{{groceryItem.downloadURL}}"  (click)="download()">Download</a> -->
             <!-- <input type="button" (click)="download()" value="Download Employee Data"/>
             <a [href]="groceryItem.downloadURL | async">{{ groceryItem.downloadURL | async }} </a>
      
           -->
           <br>
           <br>
        
           <img src="assets/images/lpnewspage3.jpg" 
           class="img" width="400" height="500" href="#" >    
           <button class="btn btn-outline-primary  btn-pill btn-xs" type="button" ><a href="#" download="assets/images/newsletter.jpg">  Download</a></button>

           <img src="assets/images/lpnews4.jpg" 
           class="img" width="400" height="500" href="#" >    
           <button class="btn btn-outline-primary  btn-pill btn-xs" type="button" ><a href="#" download="assets/images/newsletter.jpg">  Download</a></button>
       
  <!-- </li>     -->

<!--  -->
<!-- 
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5>User Guide</h5>
          </div>
          <div class="card-body">
            <ngb-carousel *ngIf="images">
              <ng-template ngbSlide>
                <img src="assets/images/newsletter.jpg" >
              
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/newsletter.jpg" >
              
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/newsletter.jpg" >
  
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div> -->